<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Copyright" content="Zhiqin Lu, Xinxi Guo">
    <meta name="Author" content="Zhiqin Lu, Xinxi Guo">
    <meta name="Description" content="GDP & UCI">
    <meta name="resource-type" content="document">
    <meta name="distribution" content="global">
    <meta name="KeyWords" content="Zhiqin Lu, UCI, Mathematics">

    <title>GDP @ UCI</title>
    <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
    <link rel="icon" href="public/icons/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Patua+One&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>The Geometry Discovery Project</h1>
            <h2>University of California, Irvine</h2>
        </header>
        <div id="app-wrapper">
            <nav>
                <div id="topics">
                    <h3>Topics</h3>
                    <ol id="topic-list">
                        <li v-for="topic in topics" @click="reloadMainContent(topic)" class="topic">
                            <div>
                                <span>{{ topic.title }}</span>
                                <span v-if="topic.authors.length > 0">, by {{ topic.authors.join(", ") }}</span>
                                <div class="topic-wrapper">
                                    <div>
                                        <img :src="topic.imageUrl" :alt="topic.title" class="topic-image">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>

                <div id="essays">
                    <h3>Essays</h3>
                    <ol>
                        <li>
                            <a href="public/pdfs/twenty-one.pdf">The 20 degree
                                questions</a>
                        </li>
                        <li>
                            <a href="public/pdfs/special-techniques.pdf">The usage of
                                special techniques</a>
                        </li>
                    </ol>
                </div>

                <div id="links">
                    <h3>Links</h3>
                    <ol>
                        <li><a href="https://kskedlaya.org/geometryunbound/">Geometry
                                Unbound</a>
                            by Kiran Kedlaya</li>
                        <li><a href="https://www.math.uci.edu/~mathcircle/">UCI Math
                                Circle</a>
                        </li>
                        <li><a href="https://www.fullerton.edu/math/resources/mathcircle.php">Fullerton Math
                                Circle</a></li>
                        <li><a href="http://www.morningstarinstitute.org">Morning Star Institute</a> by Yifeng Yu
                        </li>
                    </ol>
                </div>

                <div id="contributors">
                    <h3>Contributors:</h3>
                    <ol>
                        <li>Zhiqin Lu, UCI, zlu@uci.edu</li>
                        <li>Christopher Davis, UCI, daviscj@uci.edu</li>
                        <li>Xianfu Liu, UCI, xianful@uci.edu</li>
                        <li>Shiyi Lyu, slyu6@uci.edu</li>
                        <li>Xinxi Guo, x6guo@ucsd.edu</li>
                        <li>Melissa Yu, melissajiayu@gmail.com </li>
                    </ol>
                </div>

                <div id="credits">
                    <h3>Credits</h3>
                    <ol>
                        <li>
                            The purple highlighting was copied from
                            <a href="http://idl.cs.washington.edu/">UW Interactive Data Lab</a>
                        </li>
                    </ol>
                </div>
            </nav>

            <main>
                <iframe id="main-content" src="topics/topic01" scrolling="no" frameBorder="0"></iframe>
            </main>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>