h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', serif;
    letter-spacing: 0.03em;
}

h1 {
    margin: 0;
    margin-bottom: 0;
    margin-bottom: 0;
    font-size: 40px;
}

h2 {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: hsla(0, 0%, 24%, 1);
    font-size: 28px;
}

h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: hsla(0, 0%, 0%, 1);
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}


body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ol {
    margin-top: 0;
    margin-left: 1vw;
    line-height: 25px;
}

li {
    max-width: 500px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    display: inline;
}

#app {
    display: flex;
}

header {
    background-color: antiquewhite;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2vw;
}

nav {
    flex: 1 4;
    border-right: 1px solid black;
}

main {
    flex: 4 1;
}

#main-content {
    width: 100%;
    height: 100%;
}

#topics {
    margin-right: 8px;
}

#topics li {
    padding: 10px;
}

#topics li:hover {
    box-shadow: 2px 2px 18px #8a5ed3;
}

.topic {
    cursor: pointer;
}

.topic-image {
    width: 200px;
    height: 120px;
    margin-top: 2px;
}