html,
body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    padding: 12px 0px 12px 24px;
    background-color: antiquewhite;
    text-align: center;
}

#screen-size-warning {
    display: none;
}

#app-wrapper {
    flex: 6;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav {
    flex: 1;
    padding: 0px;
    overflow-y: auto;
    height: 100vh;
}

nav::-webkit-scrollbar {
    display: none;
}

#search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
    position:  sticky;
    top: 0px
}

#search-tip {
    flex: 1;
}

#search-tip svg {
    width: 12px;
}

#search-text {
    flex: 9;
    width: 90%;
}

#topic-list {
    margin: 0px;
    margin-right: 6px;
}

main {
    flex: 5;
    border-left: 1px solid lightgray;
    height: 100vh;
}

@media (max-width: 1536px) {
    main {
        flex: 4
    }
}

@media (max-width: 1280px) {
    main {
        flex: 3
    }
}

@media (max-width: 720px) {
    .topic-image {
        display: none;
    }

    main svg {
        display: none;
    }

    .canvas-container {
        display: none;
    }

    #screen-size-warning {
        display: block;
        margin-top: 6px;
        margin-bottom: 0px;
    }
}

#main-content {
    height: 100%;
    width: 95%;
    margin-left: 12px;
    padding-top: 0px;
    overflow-y: auto;
}

#main-content>h1 {
    margin-top: 12px;
}

#main-content::-webkit-scrollbar {
    display: none;
}

.topic-image {
    width: 100%;
    height: 50%;
    margin-top: 12px;
}

/*
 * The above beautifies everything :)
 */

.topic {
    cursor: pointer;
}

#topics li {
    padding: 6px;
}

#topics li:hover {
    box-shadow: 2px 2px 18px #8a5ed3;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Patua One', serif;
    letter-spacing: 0.03em;
}

header>h1 {
    font-size: 36px;
    margin: 0px;
}

header>h2 {
    color: hsla(0, 0%, 24%, 1);
    font-size: 24px;
    margin: 0px;
}

div#topics h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    margin-left: 12px;
}

ol {
    line-height: 24px;
}

nav li {
    border-radius: 12px;
}

#main-content canvas {
    border: 1px solid #ccc;
}

#main-content li {
    margin-bottom: 12px;
}