html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

header {
    flex: 1;
    padding: 24px 0px 24px 48px;
    background-color: antiquewhite;
}

#app-wrapper {
    flex: 6;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav {
    flex: 1;
    padding: 0px 18px 12px 12px;
    border-right: 1px solid lightgray;
    overflow-y: auto;
}

nav::-webkit-scrollbar {
    display: none;
}

main {
    flex: 5;
}

@media (max-width: 1536px) {
    main {
        flex: 3
    } 
}


@media (max-width: 1024px) {
    main {
        flex: 2
    } 
}

#main-content {
    height: 100%;
    width: 100%;
    border-style: none;
}

.topic-image {
    width: 196px;
    height: 128px;
    margin-top: 12px;
}

/*
 * The above beautifies everything :)
 */

.topic {
    cursor: pointer;
}

#topics li {
    padding: 12px;
}

#topics li:hover {
    box-shadow: 2px 2px 18px #8a5ed3;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', serif;
    letter-spacing: 0.03em;
}

header > h1 {
    font-size: 36px;
    margin: 0px;
}

header > h2 {
    color: hsla(0, 0%, 24%, 1);
    font-size: 24px;
    margin: 0px;
}

div#topics h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

ol {
    margin-top: 0px;
    margin-left: 12px;
    line-height: 24px;
}

li {
    border-radius: 12px;
}