h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', serif;
    letter-spacing: 0.03em;
}

h1 {
    margin: 0;
    margin-bottom: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-align: center;

}

h2 {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: hsla(0, 0%, 24%, 1);
    font-size: 28px;
    text-align: center;

}

h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: hsla(0, 0%, 0%, 1);
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}


body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}

ol {
    margin-top: 0;
    margin-left: 1vw;
    line-height: 25px;
}

.banner {
    background-color: antiquewhite;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2vw;
}

.main {
    display: grid;
    grid-template-columns: 600px 800px;
    column-gap: 100px;
}

.content {
    padding-left: 1vw;
    margin: 0;
}

a {
    color: black;
    display: inline;
}

.topic-wrapper {
    display: grid;
    grid-template-columns: 250px 250px;
}

.topic-image, .topic-demo {
    width: 80%;
    max-width: 200px;
    margin-top: 2px;
}

li {
    max-width: 500px;
    border-radius: 10px;
}

.topics li {
    padding: 10px;
}

.topics li:hover {
    box-shadow: 2px 2px 18px #8a5ed3;
}

svg {
    border: 2px solid black;

}

#tri0, .ptoTri, #nap1, #nap2 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.app {
    display: inline-block;

    margin-top: 2rem;
    vertical-align: middle;
    flex-grow: 2;
    flex-basis: 500px;
}

.svg-text {
    display: flex;
    flex-basis: 200;
    overflow-wrap: break-word;
    width: 300px;
    hyphens: manual;
    flex-shrink: 4;
    flex-grow: 0;
    order: 4;
}

.prob {
    display: flex;
    width: 820px;
    height: 600px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

}

.s-text {
    width: 200;
    overflow-wrap: break-word;
}